DATABASE_URL= # url do mongodb + /nome-da-db

BCRYPT_SALT_ROUNDS= # "10" a "15" é uma boa
GOOGLE_ID= # https://console.cloud.google.com/apis/
GOOGLE_SECRET= # https://console.cloud.google.com/apis/

BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET= # gerar usando o comando: openssl rand -base64 32

# o posthog é um esquema de analytics que usei pro noctiluz, favor desconsiderar
# se quiser usá-lo ele vai gerar as coisas parecidas com o abaixo
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
